.resumenAdminParalelo {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    border: 1px solid teal;
    box-shadow: 10px 5px 5px gray;
    transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    /* Firefox */
    -webkit-transition: 0.5s ease;
    /* Chrome - Safari */
    -o-transition: 0.5s ease;
    /* Opera */
}

.resumenAdminParalelo:hover {
    background-color: #dcecfa;
    transform: scale(1.05);
    -moz-transform: scale(1.05);
    /* Firefox */
    -webkit-transform: scale(1.05);
    /* Chrome - Safari */
    -o-transform: scale(1.05);
    /* Opera */
    -ms-transform: scale(1.05);
    /* IE9 */
}

.p-info {
    font-size: 16px;
}